{{ ansible_managed | comment }}

server {
  listen 80;
  server_name {{ inventory_hostname }};
  
  location {{ ota_reverse_proxy_engine_path }} {
    # Allowing for a `burst` of up to 5 requests beyond the specified rate limit. The `nodelay` parameter ensures that excessive requests beyond the burst limit are immediately rejected with a 429 error response instead of being queued. See https://www.nginx.com/blog/rate-limiting-nginx/.
    limit_req zone=limited burst=5 nodelay;
    rewrite ^{{ ota_reverse_proxy_engine_path }}/(.*)$ /$1 break;
    proxy_pass http://localhost:{{ ota_engine_app_config.api.port }};
    proxy_redirect off;
  }

  location {{ ota_reverse_proxy_federated_api_path }} {
    # Allowing for a `burst` of up to 5 requests beyond the specified rate limit. The `nodelay` parameter ensures that excessive requests beyond the burst limit are immediately rejected with a 429 error response instead of being queued. See https://www.nginx.com/blog/rate-limiting-nginx/.
    limit_req zone=limited burst=5 nodelay;
    rewrite ^{{ ota_reverse_proxy_federated_api_path }}/(.*)$ /$1 break;
    proxy_pass http://localhost:{{ ota_federated_api_app_config.port }};
    proxy_redirect off;
  }
}
