- name: Install services declarations
  ansible.builtin.git:
    repo: '{{ app_config.services.repository }}'
    dest: '/home/{{ ansible_user }}/{{ ota_declarations_directory }}'
    version: '{{ ota_declarations_branch }}'
    force: true
    accept_hostkey: true
    key_file: '/home/{{ ansible_user }}/.ssh/ota-bot-key'
    depth: 1
  tags:
    - setup
    - update
    - update-declarations

- name: Install services declarations dependencies
  ansible.builtin.command:
    cmd: npm install --production
    chdir: '/home/{{ ansible_user }}/{{ ota_declarations_directory }}'
  register: npm_install
  changed_when: npm_install.msg | regex_search("added [0-9]+ packages")
  tags:
    - setup
    - update
    - update-declarations

- name: Add .env file
  ansible.builtin.copy:
    src: .env
    dest: '/home/{{ ansible_user }}/{{ ota_declarations_directory }}/.env'
    mode: "0644"
  tags:
    - setup

- name: Add pm2 config file
  ansible.builtin.copy:
    src: pm2.config.cjs
    dest: '/home/{{ ansible_user }}/{{ ota_declarations_directory }}/pm2.config.cjs'
    mode: "0644"
  tags:
    - setup

- name: Stop Open Terms Archive schedulers
  ansible.builtin.command:
    cmd: pm2 stop pm2.config.cjs
    chdir: '/home/{{ ansible_user }}/{{ ota_declarations_directory }}'
  register: pm2
  changed_when: pm2.msg != ""
  tags:
    - stop
    - update
    - update-declarations

- name: Setup snapshots git repository
  ansible.builtin.include_tasks: database.yml
  when: app_config.recorder.snapshots.storage.git.repository is defined
  vars:
    name: snapshots
    repository: '{{ app_config.recorder.snapshots.storage.git.repository }}'
    branch: '{{ ota_snapshots_branch }}'
    directory: '/home/{{ ansible_user }}/{{ ota_declarations_directory }}/{{ app_config.recorder.snapshots.storage.git.path }}'
  tags:
    - setup
    - update

- name: Setup versions git repository
  ansible.builtin.include_tasks: database.yml
  when: app_config.recorder.versions.storage.git.repository is defined
  vars:
    name: versions
    repository: '{{ app_config.recorder.versions.storage.git.repository }}'
    branch: '{{ ota_versions_branch }}'
    directory: '/home/{{ ansible_user }}/{{ ota_declarations_directory }}/{{ app_config.recorder.versions.storage.git.path }}'
  tags:
    - setup
    - update

- name: Start Open Terms Archive schedulers
  ansible.builtin.command:
    cmd: pm2 startOrRestart pm2.config.cjs
    chdir: '/home/{{ ansible_user }}/{{ ota_declarations_directory }}'
  register: pm2
  changed_when: pm2.msg != ""
  environment:
    NODE_ENV: production
  tags:
    - restart
    - start
    - update
    - update-declarations
