---
- name: Clone federation-api repository
  ansible.builtin.git:
    repo: "{{ ota_federation_api_source_repository }}"
    dest: /home/{{ ansible_user }}/{{ ota_federation_api_directory }}
    version: "{{ ota_federation_api_source_repository_branch }}"
    force: true
    accept_hostkey: true
    depth: 1

- name: Read the config file
  ansible.builtin.command: cat '/home/{{ ansible_user }}/{{ ota_federation_api_directory }}/config/{{ ota_federation_api_config_file | default("production") }}.json'
  register: ota_read_config

- name: Save production config data into a variable
  ansible.builtin.set_fact:
    ota_federation_api_apps_config: "{{ ota_read_config.stdout | from_json }}"

- name: Set up environment variables and install dependencies
  when: not ota_federation_api_apps_read_config_only | bool
  block:
    - name: Check if instance-specific .env.secrets file exists
      ansible.builtin.stat:
        path: "{{ inventory_dir }}/.env.secrets"
      register: ota_env_file_secrets
      delegate_to: localhost

    - name: Copy vault-encrypted .env.secrets to server as .env
      ansible.builtin.copy:
        src: "{{ inventory_dir }}/.env.secrets"
        dest: /home/{{ ansible_user }}/{{ ota_federation_api_directory }}/.env
        force: true
        mode: "0644"
        decrypt: true
      when: ota_env_file_secrets.stat.exists

    - name: Install dependencies
      ansible.builtin.command:
        cmd: npm ci
        chdir: /home/{{ ansible_user }}/{{ ota_federation_api_directory }}
