---
- name: Configure NGINX
  notify: Restart NGINX
  block:
    - name: Clean default NGINX site
      ansible.builtin.file:
        state: absent
        path: /etc/nginx/sites-enabled/default

    - name: Check if server_tokens is already configured
      ansible.builtin.command: grep -E "^\s*server_tokens" /etc/nginx/nginx.conf
      register: nginx_server_tokens_directive
      failed_when: false
      changed_when: false

    - name: Share server_tokens configuration state
      ansible.builtin.set_fact:
        nginx_conf_has_server_tokens: "{{ nginx_server_tokens_directive.rc == 0 }}"

    - name: Setup NGINX conf
      ansible.builtin.template:
        src: "{{ ota_nginx_config_template }}"
        dest: /etc/nginx/conf.d/ota.conf
        owner: root
        group: root
        mode: "644"

- name: Configure NGINX Reverse Proxy
  notify: Restart NGINX
  block:
    - name: Add conf in NGINX sites-available
      ansible.builtin.template:
        src: "{{ ota_nginx_reverse_proxy_config_template }}"
        dest: /etc/nginx/sites-available/ota
        force: true
        mode: "644"

    - name: Link conf from sites-available to sites-enabled
      ansible.builtin.file:
        src: /etc/nginx/sites-available/ota
        dest: /etc/nginx/sites-enabled/ota
        state: link
        force: true
