---
- name: Configure NGINX for OTA
  notify: Restart NGINX
  block:
    - name: Check if server_tokens is already configured
      ansible.builtin.command: grep -E "^\s*server_tokens" /etc/nginx/nginx.conf
      register: ota_nginx_server_tokens_directive
      failed_when: false
      changed_when: false

    - name: Share server_tokens configuration state
      ansible.builtin.set_fact:
        ota_nginx_conf_has_server_tokens: "{{ ota_nginx_server_tokens_directive.rc == 0 }}"

    - name: Add global OTA config
      ansible.builtin.template:
        src: ./templates/nginx-global.conf.j2
        dest: /etc/nginx/conf.d/ota-global.conf
        owner: root
        group: root
        mode: "0644"
        force: true

    - name: Add collection-specific rate limit config
      ansible.builtin.template:
        src: "{{ ota_nginx_config_template }}"
        dest: /etc/nginx/conf.d/ota-rate-limit-{{ ota_nginx_collection_id }}.conf
        owner: root
        group: root
        mode: "0644"
        force: true

    - name: Ensure ota.d directory exists
      ansible.builtin.file:
        path: /etc/nginx/ota.d
        state: directory
        owner: root
        group: root
        mode: "0755"

- name: Configure NGINX for collection
  notify: Restart NGINX
  block:
    - name: Add collection-specific location config
      ansible.builtin.template:
        src: "{{ ota_nginx_reverse_proxy_config_template }}"
        dest: /etc/nginx/ota.d/{{ ota_nginx_collection_id }}.conf
        force: true
        mode: "0644"

    - name: Ensure OTA server block exists in sites-available
      ansible.builtin.template:
        src: "{{ ota_nginx_server_config_template }}"
        dest: /etc/nginx/sites-available/ota
        owner: root
        group: root
        mode: "0644"
        force: false

    - name: Enable OTA site
      ansible.builtin.file:
        src: /etc/nginx/sites-available/ota
        dest: /etc/nginx/sites-enabled/ota
        state: link
