{{ ansible_managed | comment }}

# Collection: {{ ota_collection_id }}

{% if collection_api_basePath and collection_api_port %}
location {{ collection_api_basePath }} {
    # Allowing for a `burst` of up to 5 requests beyond the specified rate limit. The `nodelay` parameter ensures that excessive requests beyond the burst limit are immediately rejected with a 429 error response instead of being queued. See https://www.nginx.com/blog/rate-limiting-nginx/.
    limit_req zone=ota_limited_{{ ota_collection_id }} burst=5 nodelay;
    proxy_pass http://localhost:{{ collection_api_port }};
    proxy_redirect off;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
}
{% endif %}

{% if federation_api_basePath and federation_api_port %}
location {{ federation_api_basePath }} {
    # Allowing for a `burst` of up to 5 requests beyond the specified rate limit. The `nodelay` parameter ensures that excessive requests beyond the burst limit are immediately rejected with a 429 error response instead of being queued. See https://www.nginx.com/blog/rate-limiting-nginx/.
    limit_req zone=ota_limited_{{ ota_collection_id }} burst=5 nodelay;
    proxy_pass http://localhost:{{ federation_api_port }};
    proxy_redirect off;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
}
{% endif %}
