{{ ansible_managed | comment }}

# Collection: {{ ota_collection_id }}
# Configure the collection-specific rate limiting zone to prevent DDoS attacks.
limit_req_zone $binary_remote_addr zone=ota_limited_{{ ota_collection_id }}:10m rate=10r/s;
