---
- name: Install common required packages
  ansible.builtin.apt:
    pkg:
      - build-essential
      - curl
      - ca-certificates
      - gnupg
      - git
      - zip
    update_cache: true
    state: latest

- name: Install NodeJS
  ansible.builtin.include_tasks: node.yml

- name: Add global git config
  ansible.builtin.copy:
    src: .gitconfig
    dest: '/home/{{ ansible_user }}/.gitconfig'
    mode: "644"

- name: Add GitHub bot account SSH key
  ansible.builtin.copy:
    src: ota-bot-key.private_key
    dest: '/home/{{ ansible_user }}/.ssh/ota-bot-key'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: "600"

- name: Configure SSH to use GitHub bot account key on github.com
  ansible.builtin.template:
    src: ssh_config.j2
    dest: '/home/{{ ansible_user }}/.ssh/config'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: "644"

- name: Install Chromium — Debian
  ansible.builtin.apt:
    pkg:
      - chromium
    update_cache: true
    state: latest
  when: ansible_distribution == 'Debian'

- name: Install Chromium — Ubuntu
  ansible.builtin.apt:
    pkg:
      - chromium-browser
    update_cache: true
    state: latest
  when: ansible_distribution == 'Ubuntu'

  # See https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#recommended-enable-user-namespace-cloning
- name: Enable user namespace cloning to allow running Chromium in a sandbox
  ansible.builtin.command: sysctl -w kernel.unprivileged_userns_clone=1
  when: ansible_facts['architecture'] != 'aarch64'

- name: Install MongoDB
  ansible.builtin.include_tasks: mongo.yml
  when:
    - (app_config.recorder.versions.storage.type is defined and app_config.recorder.versions.storage.type == 'mongo') or
      (app_config.recorder.snapshots.storage.type is defined and app_config.recorder.snapshots.storage.type == 'mongo')
    # Skip Debian 11 with ARM architecture as it is not currently supported by MongoDB.
    # See https://www.mongodb.com/docs/manual/installation/#supported-platforms
    - ansible_distribution != 'Debian' or (ansible_distribution == 'Debian' and ansible_facts['architecture'] != 'aarch64')

- name: Install NGINX
  ansible.builtin.include_tasks: nginx.yml
