---
- name: Deploy Open Terms Archive Contribution Tool
  hosts: all
  tasks:
    - name: Install common required packages
      ansible.builtin.include_role:
        name: common
        apply:
          become: true

    # Contribution-tool doesn't need SSH keys (no git operations)

    - name: Load contribution-tool config
      tags: [always]
      ansible.builtin.include_role:
        name: contrib-tool/apps
        public: true
        apply:
          tags: [always]
      vars:
        contrib_tool_apps_read_config_only: true

    - name: Set required variables
      tags: [always]
      ansible.builtin.set_fact:
        chromium_required: true  # Contribution-tool needs Chromium for Puppeteer

        contrib_tool_port: "{{ contrib_tool_apps_config['contrib-tool'].port }}"
        contrib_tool_basePath: "{{ contrib_tool_apps_config['contrib-tool'].basePath }}"

    - name: Install infrastructure
      become: true
      tags: [infrastructure]
      block:
        - name: Install Node
          ansible.builtin.include_role:
            name: node

        - name: Install PM2
          ansible.builtin.include_role:
            name: pm2/install

        - name: Install Chromium
          ansible.builtin.include_role:
            name: chromium

        - name: Install Nginx
          ansible.builtin.include_role:
            name: nginx/install

    - name: Setup contribution-tool application
      ansible.builtin.include_role:
        name: contrib-tool/apps

    - name: Manage contribution-tool processes
      ansible.builtin.include_role:
        name: pm2/manage
      vars:
        ota_directory: "{{ contrib_tool_directory }}"
        ota_pm2_home: "{{ contrib_tool_pm2_home }}"
      tags: [stop, start, restart]

    - name: Configure NGINX
      ansible.builtin.include_role:
        name: nginx/configure
        apply:
          become: true
      vars:
        ota_collection_id: "{{ contrib_tool_collection_id }}"
        ota_nginx_config_template: ./templates/nginx.conf.j2
        ota_nginx_reverse_proxy_config_template: ./templates/nginx-reverse-proxy-conf.j2
        ota_nginx_server_config_template: ./templates/nginx-server.conf.j2
        collection_api_port: "{{ contrib_tool_port }}"
        collection_api_basePath: "{{ contrib_tool_basePath }}"
